.email-app {
  justify-content: space-between;
  display: grid;
  grid-template-areas: "gmail-filter email-list ";
}
.email-list {
  width: 1200px;
}

.email-list li {
  list-style: none;
}

.email-preview {
  display: flex;
  border: 0.8px solid rgb(223, 222, 222);
  padding: 20px;
  justify-content: space-between;
  background-color: rgba(233, 233, 233, 0.726);
  /* border-radius: 10px; */
  /* max-width: 900px; */
  margin-inline-end: 40px;
}

.email-preview:hover {
  background-color: rgba(250, 250, 250, 0.911);
  box-shadow: inset 0 -2px 0 0 rgb(100 121 143 / 12%);
}

.email-details {
  font-size: 20px;
  max-width: 900px;
  margin: 0 auto;
  padding: 20px;
  background-color: rgba(238, 237, 237, 0.281);
  gap: 10px;
  /* height: 600px; */
}

.email-details-container {
  justify-content: space-around;
  display: grid;
  grid-template-areas: "gmail-filter  email-details";
}

.email-title {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.send-details {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  gap: 15px;
  align-items: baseline;
 
}
.email-details p {
  text-align: center;
  margin-top: 15px;
}
.gmail-filter {
  margin-top: 15px;
  margin-inline-start: 40px;
}

.filter {
  background-color: rgba(223, 222, 222, 0.342);
  margin-bottom: 2px;
  border-radius: 3px;
  border: 0.5px solid rgba(223, 222, 222, 0.342);
  display: flex;
  gap: 40px;
  padding: 15px;
}

.filter:hover {
  border: 0.5px solid rgba(209, 209, 209, 0.884);
}

.checked {
  color: red;
}

.select {
  color: red;
  border: 0.5px solid red;
}

.router-link-exact-active {
  color: rgb(255, 255, 255);
}

.logo-plus{
  display: flex;
  font-size: 20px;
  align-items: center;
  background-color: rgb(235, 236, 236);
  border-radius: 30px;
  margin-bottom: 5px;
  padding: 5px;
  width: 150px;
}

.logo-plus:before {
  background-image: url(https://www.gstatic.com/images/icons/material/colored_icons/1x/create_32dp.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 32px;
  content: '';
  display: block;
  height: 48px;
min-width: 56px;
}

.new-mail{
  border: 0.5px solid;
  z-index: 1;
  gap: 10px;
  display: flex;
  flex-direction: column;
  position: absolute;
  background-color: rgb(240, 238, 238);
  width: 400px;
  bottom: 8%;
  left: 80px;
  height: 400px;
  padding: 10px;

}

.new-mail input{
  border: none;
  width: 80%;
  height: 100%;
}
.new-mail button{
  border: none;
background-color: rgb(68, 68, 248);
width: 60px;
height: 50px;
color: white;
border-radius: 8px;
}